@import "variables";
@import "reset";
@import "navigation";
@import "portrait";
@import "landscape";
@import "table";
@import "page/feed";
@import "page/wardrobe";
@import "page/admin";
@import "page/invite";
@import "breakpoint/small";


body{
    padding-top: 5rem;
}
 

.hidden{
    display:none;
}

article{
    padding: 1rem 1rem 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    &:nth-child(odd) {
        border-bottom: solid 1px black;
        border-top: solid 1px black;
    }
    &:nth-child(1) {
        border-top: unset;
    }
    &:last-child {
        border-bottom: unset;
    }
}