.env
.DS_Store
modules.xml
public.iml
watcherTasks.xml
Project_Default.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/workspace.xml
/vendor
/tmp/*
debug.php
/Assets/stylesheets/css/*
modules.xml
Project_Default.xml
public.iml
watcherTasks.xml
qodana.yaml